<h1 class="title is-1">Wellcome to lab 10</h1>
<form method="POST">
    <div class="form-group">
        <label for="firstName">Your Name</label>
        <input type="text" class="form-control" id="firstName" name="name" placeholder="Name">
        <input type="text" class="form-control" id="lastName" name="surname" placeholder="Surname">
    </div>
    <div class="form-group">
        <label for="firstName">Date of Birth</label>
        <input type="number" class="form-control" name="month" placeholder="Month">
        <input type="number" class="form-control" name="day" placeholder="Day">
        <input type="number" class="form-control" name="year" placeholder="Year">
    </div>
    <div class="form-group">
        <label for="firstName">Group Number</label>
        <input type="number" id="group" class="form-control" name="group" placeholder="4-digit group number">
    </div>
    <br />
    <div>
        <input type="submit" />
    </div>
</form>
<br/>

Generated ID: @ViewData["GenId"]

       
